@import url('https://fonts.googleapis.com/css2?family=Prata&family=Spartan&display=swap');

body {
  margin: 0;
  font-family: 'Prata', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a4747;
  color: white;
  font-weight:lighter; 
}

code {
  font-family: 'Prata', serif;
}

.links {
  text-decoration: none;
}

h5, h6, h4 {
  font-family: 'Prata';
  color: whitesmoke;
  font-weight: 50;
}

footer {
  margin-bottom: 0 !important;
  background-color: #2a4747;
  display: flex;
  justify-content: center;
}

